.main-logo {
  width: 250px;
}

p {
  font-family: 'Source Serif 4', serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
navigation {
  display: none;
  justify-content: center;
  gap: 40px;
  align-items: center;
  font-weight: 300;
}
}

@media (min-width: 768px) {
navigation {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  font-weight: 300;
}
}

 /* Style the navigation menu */
@media (min-width: 768px) {
.topnav {
  display: none;
  overflow: hidden;
  background-color: #e6eced;
  position: relative;
}
}

.topnav {
  overflow: hidden;
  background-color: #e6eced;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  font-family: 'Source Serif 4', serif;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 42px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #f5f7f7;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;
} 

.mobile-main-logo {
  width: 150px;
  display: block;
  position: relative;
  right: 0;
  top: 0;
}

.header-image {
    background-image: url('https://images.pond5.com/abstract-aerial-view-moody-ocean-089448488_prevstill.jpeg');
  background-position: center center;
  background-size: cover;
  height: 200px;
}

.contact-heading {
  font-family: karla, serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 20px;
}

form {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type="text"]{
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 300px;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
  margin: 5px;
}

@media (min-width: 480px) {
input[type="text"]{
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 400px;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
  margin: 5px;
}
}

@media (min-width: 768px) {
input[type="text"]{
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 600px;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
  margin: 5px;
}
}

input[type="email"]{
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 300px;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
  margin: 5px;
}

@media (min-width: 480px) {
input[type="email"]{
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 400px;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
  margin: 5px;
}
}

@media (min-width: 768px) {
input[type="email"]{
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 600px;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
  margin: 5px;
}
}

.comments {
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 300px;
  height: 100px;
  padding: 7px 7px 7px 7px;
  font-size: 14px;
  margin: 5px;
}

@media (min-width: 480px) {
.comments {
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 400px;
  height: 100px;
  padding: 7px 7px 7px 7px;
  font-size: 14px;
  margin: 5px;
}
}

@media (min-width: 768px) {
.comments {
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 600px;
  height: 100px;
  padding: 7px 7px 7px 7px;
  font-size: 14px;
  margin: 5px;
}
}

input[type="submit"]{
  display: flex;
  justify-content: center;
  background: #f5ebe4;
  border: 1px solid #000;
  font-family: 'Source Serif 4', serif;
  border: 0px;
  margin-top: 10px;
  padding: 10px 32px;
  font-size: 12px;
  border-radius: 5px;
  width: 120px;
  text-transform: uppercase;
}

.acknowledgement-of-country {
  text-align: center;
  padding: 50px 80px 50px 80px;
  background-color: #f5ebe4;
  font-style: italic;
}

.links {
  color: black;
}

.social-logo {
  width: 30px;
  padding: 5px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  font-size: 12px;
  padding: 50px 80px 50px 80px;
}

@media (min-width: 768px) {
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding: 50px 80px 50px 80px;
}
}

input[type="email-1"]{
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 200px;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
  margin: 5px;
}

input[type="email-submit"]{
  background: #f5ebe4;
  border: 1px solid #000;
  font-family: 'Source Serif 4', serif;
  border: 0px;
  margin-top: 10px;
  padding: 10px 32px;
  font-size: 12px;
  border-radius: 5px;
  width: 120px;
  text-transform: uppercase;
}

.link-section {
  text-align: center;
}

@media (min-width: 768px) {
.link-section {
  text-align: left;
}
}

.contact-section {
  text-align: center;
  margin: 40px;
}

.sign-up-form {
  text-align: center;
}

@media (min-width: 768px) {
.sign-up-form {
  text-align: left;
}
}

.error {
  color: red;
  font-size: 12px;
  text-align: left;
  font-family: 'Source Serif 4', serif;
}
