.main-logo {
  width: 250px;
}

p {
  font-family: 'Source Serif 4', serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

@media (max-width: 768px) {
navigation {
  display: none;
  justify-content: center;
  gap: 40px;
  align-items: center;
  font-weight: 300;
}
}

@media (min-width: 768px) {
navigation {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  font-weight: 300;
}
}

 /* Style the navigation menu */
@media (min-width: 768px) {
.topnav {
  display: none;
  overflow: hidden;
  background-color: #e6eced;
  position: relative;
}
}

.topnav {
  overflow: hidden;
  background-color: #e6eced;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  font-family: 'Source Serif 4', serif;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

.topnav a.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 42px;
}

.topnav a:hover {
  background-color: #f5f7f7;
  color: black;
}

.active {
  background-color: white;
  color: white;
} 

.mobile-main-logo {
  width: 150px;
  display: block;
  position: relative;
  right: 0;
  top: 0;
}

.main-header {
  background-image: url('https://i.postimg.cc/ZqvbfYKT/301930247-1123006025287021-548131613609408642-n-4.jpg');
  background-position: center center;
  background-size: cover;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
}

@media (min-width: 480px) {
.main-header {
  background-image: url('https://i.postimg.cc/ZqvbfYKT/301930247-1123006025287021-548131613609408642-n-4.jpg');
  background-position: center center;
  background-size: cover;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
}
}

@media (min-width: 768px) {
.main-header {
  background-image: url('https://i.postimg.cc/ZqvbfYKT/301930247-1123006025287021-548131613609408642-n-4.jpg');
  background-position: center center;
  background-size: cover;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 550px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
}
}

.header-text {
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  font-family: karla, serif;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 200;
}

@media (min-width: 480px) {
.header-text {
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  font-family: karla, serif;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 200;
}
}

.main-button:hover {
  background-color: #efdecd;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
}

.main-button {
  background-color: #f5ebe4;
  color: black;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
  transition: 0.5s ease-in-out;
}

.about-homepage-box {
  padding: 60px 80px 60px 80px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media (min-width: 768px) {
.about-homepage-box {
  display: flex;
  padding: 60px 80px 60px 80px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
}

.about-homepage-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
.about-homepage-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
}

.cottage-drawing {
  display: flex;
  width: 450px;
  max-width: 100%;
  padding-bottom: -20px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:768px) {
.cottage-drawing {
  display: flex;
  width: 800px;
  max-width: 100%;
  padding-bottom: 20px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
}

.sub-heading {
  font-size: 20px;
  text-transform: uppercase;
  font-family: karla;
  font-weight: 200;
  text-align: center;
}

@media (min-width: 768px) {
.sub-heading {
  font-size: 20px;
  text-transform: uppercase;
  font-family: karla;
  font-weight: 200;
  text-align: left;
}
}

.about-homepage-text {
  padding-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
.about-homepage-text {
  padding-bottom: 10px;
  font-size: 14px;
  text-align: left;
}
}

.second-button:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efdecd;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  width: 80px;
  text-transform: uppercase;
}

.second-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5ebe4;
  color: black;
  padding: 10px 32px;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  width: 80px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.homepage-box-space {
  display: flex;
  flex-direction: column;
  background-color: #f5ebe4;
  padding: 60px 100px 60px 100px;
  align-items: center;
}

.homepage-box-space {
  display: flex;
  flex-direction: column;
  background-color: #f5ebe4;
  padding: 60px 100px 60px 100px;
  align-items: center;
}

.homepage-box-imagery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 15px;
}

@media (min-width: 768px) {
.homepage-box-imagery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  max-width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 15px;
}
}


.homepage-box-img1, .homepage-box-img2, .homepage-box-img3 {
  width: 335px;
  max-width: 100%;
  height: auto;
}

 /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 

.third-button:hover {
  display: flex;
  justify-content: center;
  background-color: #fbf9f7;
  color: black;
  padding: 10px 32px;
  font-size: 12px;
  border-radius: 5px;
  width: 80px;
  text-transform: uppercase;
}

.third-button {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  padding: 10px 32px;
  font-size: 12px;
  border-radius: 5px;
  width: 80px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.exp-homepage-box {
  padding: 80px 80px 80px 80px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media (min-width: 768px) {
.exp-homepage-box {
  display: flex;
  padding: 80px 80px 80px 80px;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
}

.bicheno-img {
  display: none;
  width: 335px;
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
.bicheno-img {
  display: flex;
  width: 335px;
  max-width: 100%;
  height: auto;
}
}

.bicheno-img-mobile {
  display: flex;
  width: 450px;
  max-width: 100%;
  padding-bottom: 20px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
.bicheno-img-mobile {
  display: none;
  width: 550px;
  max-width: 100%;
  height: auto;
}
}

.exp-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
.exp-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
}

.exp-info-text {
  padding-bottom: 5px;
}

.acknowledgement-of-country {
  text-align: center;
  padding: 50px 80px 50px 80px;
  background-color: #f5ebe4;
  font-style: italic;
}

.links {
  color: black;
}

.social-logo {
  width: 30px;
  padding: 5px;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  font-size: 12px;
  padding: 50px 80px 50px 80px;
}

@media (min-width: 768px) {
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding: 50px 80px 50px 80px;
}
}

input[type="submit"]{
  background: #f5ebe4;
  border: 1px solid #000;
  font-family: 'Source Serif 4', serif;
  border: 0px;
  margin-top: 10px;
  padding: 10px 32px;
  font-size: 12px;
  border-radius: 5px;
  width: 120px;
  text-transform: uppercase;
}

input[type="text"]{
  font-family: 'Source Serif 4', serif;
  border: 1px solid #000;
  width: 200px;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
}

.link-section {
  text-align: center;
}

@media (min-width: 768px) {
.link-section {
  text-align: left;
}
}

.contact-section {
  text-align: center;
  margin: 40px;
}


.sign-up-form {
  text-align: center;
}

@media (min-width: 768px) {
.sign-up-form {
  text-align: left;
}
}



